<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoryGame"
        tools:targetApi="31">
        <activity
            android:name=".RecordBoardActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".MainShop"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".MainEasyActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".MainHardActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".MainComputerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"/>
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainRegularActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".MainPlayWithFriends"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".MainStart"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>